<footer class="bg-secondary">
  <div class="py-100 border-bottom" style="border-color: #454547 !important">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Company Info -->
        <div class="col-md-4">
          <div class="mb-5 mb-md-0 text-center text-md-start">
            <!-- Logo -->
            <a class="mb-30 d-inline-block" href="{{ site.BaseURL | relLangURL }}">
              {{ if site.Params.logo_footer }}
              {{ partial "image.html" (dict "Src" .Site.Params.logo_footer "Alt" "Up to Par Technologies" "Width"
              .Site.Params.logo_footer_width) }}
              {{ else }}
              Up to Par Technologies
              {{ end }}
            </a>
            {{ with site.Params.footer_content }}
            <p class="text-white mb-30">{{ . | markdownify }}</p>
            {{ end }}
          </div>
        </div>

        <!-- Services List -->
        <div class="col-lg-2 col-md-4 col-6">
          <h4 class="text-white mb-4">Services</h4>
          <ul class="footer-links">
            <li><a href="/service/managed-it-services-1/">Managed IT Services</a></li>
            <li><a href="/service/structured-cabling/">Structured Cabling</a></li>
            <li><a href="/service/network-technology-1/">Networking Technologies</a></li>
            <li><a href="/service/communication-services-1/">Communication Services</a></li>
            <li><a href="/service/security-cameras-1/">Security Camera Installaion</a></li>
          </ul>
        </div>

        <!-- Quick Links -->
        <div class="col-lg-2 col-md-4 col-6">
          <h4 class="text-white mb-4">Quick Links</h4>
          <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/service/">Services</a></li>
            <li><a href="/industries/">Industries</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/contact/">Request a Quote</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="pt-4 pb-3 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5">
          <p class="text-white text-center text-md-start">
            {{ .Site.Params.copyright }}
          </p>
        </div>
        <div class="col-lg-6 col-md-7">
          <ul class="list-inline text-center text-md-end">
            {{ range site.Menus.footer }}
            <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
              <a class="font-secondary text-white" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>

    <!-- Back to Top Button -->
    <button class="back-to-top" aria-label="scroll to top">
      <i class="ti-angle-up"></i>
    </button>
  </div>
</footer>