{{ define "main" }}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Page Content -->
            <div class="col-lg-12">
                <div class="post-content mb-5">
                    {{ .Content }}
                </div>
            </div>

            <!-- Industry Cards -->
            {{ $pages := where .RegularPages "Params.weight" "ne" nil }}
            {{ range ( sort $pages ".Params.weight" "asc" ) }}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 text-center shadow">
                    {{ with .Params.icon }}
                    <div class="mt-4">
                        <i class="fa {{ . }} fa-2x text-primary"></i>
                    </div>
                    {{ end }}

                    {{ with .Params.image }}
                    <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="card-img-top p-3">
                    {{ end }}

                    <div class="card-body">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-text">{{ .Params.description }}</p>
                    </div>

                    <div class="card-footer border-0 bg-white">
                        <a href="{{ .RelPermalink }}" class="btn btn-outline-primary">Read More</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}